.App {
  max-width: 350px;
  text-align: center;
  margin: 50px auto;
}
body {
  font-family: arial, sans-serif;
  background-image: linear-gradient(to left, #bdbbbe 0%, #9d9ea3 100%),
    radial-gradient(
      88% 271%,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(254, 254, 254, 0.25) 1%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    radial-gradient(
      50% 100%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  background-blend-mode: normal, lighten, soft-light;
  background-blend-mode: multiply;
  background-size: 100%;
}
.container {
  padding-top: 30px;
}
h1 {
  color: #878787;
  font: size 60px;
  font-family: Candara;
  padding-bottom: 5px;
  font-weight: 500;
  line-height: 20px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  color: rgb(246, 250, 255);
  font-size: 15px;
  text-transform: capitalize;
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: 100px;
  height: 15px;
  line-height: 2px;
  list-style: none;
}
.active {
  color: rgba(135, 135, 135);
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
button {
  border: 1px solid rgba(135, 135, 135);
  border-radius: 3px;
}
.btn-icon {
  position: relative;
  left: 0px;
  bottom: 20px;
  font-size: 10px;
  color: rgb(114, 113, 113);
}
.shadow-sm {
  position: relative;
  left: 105px;
  bottom: 27px;
  font-size: 11px;
  color: rgb(114, 113, 113);
}
footer {
  text-align: center;
  font-size: 13px;
  font-family: Candara;
  font-weight: 400;
  padding-top: 10px;
}
a {
  color: rgb(67, 73, 82);
}
.orange-kids {
  position: relative;
  top: 20px;
  right: 45px;
}
.windy-link {
  color: rgb(126, 151, 160);
  font-size: 15px;
  font-weight: 300;
  padding-top: 20px;
  padding-left: 20px;
}
.form-control {
  font-size: 11px;
  margin-top: 10px;
  margin-right: 55px;
  border: 1px solid rgba(135, 135, 135);
  border-radius: 3px;
}
